body{
    margin: 0;
}
.body{
    background-color: black;
    width: 100%;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    width: 200px;
    height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #181818;
    cursor: pointer;
    border-radius: 100%;
    border: 0.5px solid gray;
}
.game{
    display: none;
    width: 100%;

}
.game-body{
    width: 100%;
    min-height: 100vh;

align-items: center;

}
.game-display{
    display: flex;
}
#left,#right{
    flex: 1;
    background-color: #181818;
    height: 500px;
}
#center{
    flex: 0.5;
    height: 500px;
}
.base{
    background-color: green;
    width: 350px;
    height: 200px;
    margin: auto;
}

@media (max-width:700px){
    #left,#right,#center{
        height: 60vw;
    }
}